<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UAI</title>
    <link href="~/Content/estilos.css" rel="stylesheet" />
    
</head>
<body>
    <div id="container">
        <header>

            <nav>
                <img src="~/Imagenes/logo.png" id="logo">
                <a href="www.google.com" title="ver carrito de compras">
                    <img src="~/Imagenes/carrito.png" id="carrito">
                </a>
            </nav>
        </header>
        <section>
            <article>

              
                <h1>Producto</h1>
                

            </article>
        </section>

        <aside id="pub">
            <article>
                <div>
                    <ul>
                        <li><a href="~/Views/Home/Productos.cshtml">Cambio</a> </li>
                        <li><a href="~/Views/Home/Categorias.cshtml">Categorias</a> </li>
                        <li><a href="~/Views/Home/Cuenta.cshtml">Cuenta</a> </li>
                        <li><a href="~/Views/Home/Contacto.cshtml">Contacto</a> </li>
                    </ul>
                    </div>
            </article>
        </aside>
        <footer>
            <p>&copy; @DateTime.Now.Year - Trabajo final - Norte | Grupo 3</p>
        </footer>
    </div>
</body>

